{% load static %}

<!DOCTYPE html>
<html>

<head>
 <title>Issue Submitted</title>
 <!-- Include Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-6">
    <h2 class="text-center">Issue Submitted Successfully</h2>
    <p class="lead text-center">Thank you for submitting your issue. Our team will review it and get back to you as soon
     as possible.</p>
    <a href="{% url 'student_dashboard' %}" class="btn btn-primary btn-block">Back to Dashboard</a>
   </div>
  </div>
 </div>
</body>

</html>